.header {
    background-color: rgb(238, 226, 220);
    color: rgb(172, 59, 97);
}

.header__menu {
    background-color: rgb(238, 226, 220);
    color: rgb(172, 59, 97);
    display: flex;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.menu__link {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(237, 199, 183);
    color: rgb(172, 59, 97);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}
.menu__link:hover{
    color: rgb(150, 83, 220);
    transition: 0.5s;
}
.header__login {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(237, 199, 183);
    color: rgb(172, 59, 97);;
    text-decoration: none;
    margin-left: auto;
    border-radius: 5px;
    font-weight: 600;
}
.header__login:hover{
    color: rgb(150, 83, 220);
    transition: 0.5s;
}
.header__logo-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgb(172, 59, 97);
}
.header__title {
    margin: 0;
}    
              