.main { 
    background-color:  rgb(238, 226, 220);
    color:rgb(172, 59, 97);
    padding: 0px 8px;
}
.menu {
    padding-left: 3px;
}
.header__menu {
    padding-right: 3px;
}
.header__login {
    background-color: rgb(237, 199, 183);
    color: rgb(172, 59, 97);
}
.search__button{
    background-color:  rgb(237, 199, 183);
    color:rgb(172, 59, 97);  
    border-width: 0px;
    cursor: pointer;
    height: 28px;
    border-radius: 5px;
    font-weight: 600;
}
.search__button:hover{
    color: rgb(129, 197, 159);
    transition: 0.5s
}
.section_block {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.list {
    align-self: center;
    cursor: default;
}
.photo_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
@media (max-width: 768px){
    .photo_block {justify-content: center;}
    .arrow_button {
        display: none;
    }
}
.arrow_button {
    background-color:  rgb(238, 226, 220);
    border-width: 0;
    cursor: pointer;
}
.text_input {
    height: 28px;
}
.description {
    background-color:  rgb(237, 199, 183);
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 5px rgb(172, 59, 97);
}
.divider {
    border-top: 1px solid rgb(237, 199, 183);
    margin: 0px;
}
.image {
    box-shadow: 2px 2px 5px rgb(172, 59, 97);
    border-radius: 20px;
}
.feedback__text {
    text-decoration: none;
    color: rgb(172, 59, 97);
}
.feedback__text:hover{
    color: rgb(129, 197, 159);
    transition: 0.5s;
    font-size: 15pt;
}
.authorization_text {
    margin-top: 0px;
    cursor: default;
}
.form {
    display: flex;
    flex-direction: column;
}
.registration_element {
    display: flex;
    flex-direction: row;
    width: 712px;
    justify-content: space-between;
    margin-bottom: 8px;
}
.date_picker {
    width: 234px;
    cursor: pointer;
}
.auth_button {
    padding: 4px;
    background-color: rgb(237, 199, 183);
    color: rgb(172, 59, 97);
    text-decoration: none;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    font-weight: 600;
}
.info {
    cursor: default;
}