.main { 
    background-color:  rgb(238, 226, 220);
    color:rgb(172, 59, 97);
}
.header__login {
    background-color: rgb(237, 199, 183);
    color: rgb(172, 59, 97);
}
.search__button{
    background-color:  rgb(237, 199, 183);
    color:rgb(172, 59, 97);  
}
.teacher {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.teacher__list {
    align-self: center;
}
.teacher__photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.arrow_button {
    background-color:  rgb(238, 226, 220);
    border-width: 0;
    cursor: pointer;
}